.ThirdPage {
    width: 100%;
    height: 100vh;
    background-color: #428F81;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    z-index: 1002;

}

.ThirdPage__TextContainer {
    width: 900px;
    height: 50px;
    position: relative;
    top: -270px;

}

.ThirdPage svg {
    position: relative;
    top: -343px;
}

.ThirdPage__text {
    font-size: 47px;
    color: white;
    text-align: center;
    font-family: 'Comfortaa';

}

.ThirdPage__p {
    text-align: center;
    font-size: 47px;
    color: white;
    font-family: 'Comfortaa';
}

span {
    color: black;
}

.ThirdPage__CardContainer {
    width: 830px;
    height: 338px;
    background-color: #428F81;
    position: relative;
    top: -140px;
    display: flex;
    justify-content: center;
    align-items: center;


    flex-wrap: wrap;
}

.two {
    position: relative;
    top: -350px;


    width: 830px;
    height: 338px;
    background-color: #428F81;

    display: flex;
    justify-content: center;
    align-items: center;


    flex-wrap: wrap;
    visibility: hidden;

}

/* Card */

.Card {
    width: 276px;
    height: 160px;
    background-color: #428F81;
}

.CardTextContainer {
    position: relative;
    top: 12px;
}

.Card__p {
    color: white;
    font-size: 24px;
    font-family: 'Comfortaa';
}

@media screen and (max-width: 800px) {

    .ThirdPage {
        width: 486px;
        height: 1500px;

    }

    .ThirdPage svg {
        height: 700px;

        width: 486px;

        position: relative;
        top: -570px;




    }

    .ThirdPage__CardContainer {
        visibility: hidden;
    }



    .two {
        visibility: visible;
        height: 1200px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        position: relative;
        top: -900px;
        width: 486px;



    }

    .ThirdPage__TextContainer {
        position: relative;
        width: 486px;
        top: -800px;
        height: 123px;
        text-align: center;



    }

    .ThirdPage__text,
    .ThirdPage__p {
        visibility: hidden;
    }

    .ThirdSpan::before {
        content: 'Чим';
        visibility: visible;

        color: black;
        position: relative;
        text-align: right;


        font-size: 36px;
        font-weight: 500;
        left: -125px;
        top: 1px;


    }

    .ThirdPage__text::before {
        visibility: visible;
        content: 'ви можете';
        font-size: 36px;

        position: relative;
        text-align: left;
        position: relative;
        left: 180px;




    }

    .ThirdPage__middle::before {
        content: 'допомогти';
        color: white;
        font-size: 36px;
        font-family: 'Comfortaa';

    }

    .ThirdPageText {
        width: 4860px;
        display: flex;
        justify-content: space-between;
    }

    .ThirdPage__p::before {
        visibility: visible;
        content: 'нашому притулку';
        color: white;
        font-size: 36px;
        position: relative;
        left: 40px;


    }











}