.ThirdPage {
    width: 100%;
    height: 100vh;
    background-color: #428F81;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    z-index: 1002;

}

.ThirdPage__TextContainer {
    width: 900px;
    height: 50px;
    position: relative;
    top: -270px;

}

.ThirdPage svg {
    position: relative;
    top: -343px;
    width: auto;

}

.ThirdPage__text {
    font-size: 47px;
    color: white;
    text-align: center;
    font-family: 'Comfortaa';

}

.ThirdPage__p {
    text-align: center;
    font-size: 47px;
    color: white;
    font-family: 'Comfortaa';
}

span {
    color: black;
}

.ThirdPage__CardContainer {
    width: 830px;
    height: 338px;
    background-color: #428F81;
    position: relative;
    top: -140px;
    display: flex;
    justify-content: center;
    align-items: center;


    flex-wrap: wrap;
}

.two {
    position: relative;
    top: -350px;


    width: 830px;
    height: 338px;
    background-color: #428F81;

    display: flex;
    justify-content: center;
    align-items: center;


    flex-wrap: wrap;
    visibility: hidden;

}

/* Card */

.Card {
    width: 276px;
    height: 160px;
    background-color: #428F81;
}

.CardTextContainer {
    position: relative;
    top: 12px;
}

.Card__p {
    color: white;
    font-size: 24px;
    font-family: 'Comfortaa';
}









@media screen and (max-width: 1200px) {
    .ThirdPage {
        max-height: 1800px;
        height: 900px;
    }

    .ThirdPage__TextContainer {
        width: 80%;
        max-width: 900px;
        position: relative;
        top: -230px;

    }

    .ThirdPage svg {
        width: auto;
        margin-top: 220px;

    }

    .ThirdPage__text {
        font-size: 36px;
    }

    .ThirdPage__p {
        font-size: 36px;
    }

    .ThirdPage__CardContainer {
        width: 80%;
        max-width: 830px;
        top: -50px;
    }

    .two {
        width: 80%;
        max-width: 830px;
    }

    .Card {
        width: 30%;
        max-width: 276px;
        margin: 1%;
    }

    .Card__p {
        font-size: 18px;
    }

}









@media screen and (max-width: 800px) {
    body {
        overflow-x: hidden;
    }

    .ThirdPage {
        width: 800px;
        height: 800px;




    }

    .ThirdPage svg {
        height: 700px;
        width: 800px;
        position: relative;
        top: -330px;
        left: -35px;


    }

    .ThirdPage__CardContainer {
        visibility: hidden;
    }





    .ThirdPage__TextContainer {
        position: relative;
        width: 800px;
        top: -350px;
        height: 123px;
        text-align: center;
        display: flex;
        justify-content: center;
        flex-direction: column;
        left: -30px;





    }

    .ThirdPage__text,
    .ThirdPage__p {
        visibility: hidden;
    }

    .ThirdSpan::before {
        content: 'Чим';
        visibility: visible;

        color: black;
        position: relative;
        text-align: right;


        font-size: 36px;
        font-weight: 500;
        left: -5px;
        top: 91px;


    }

    .ThirdPage__text::before {
        visibility: visible;
        content: 'ви можете';
        font-size: 36px;

        position: relative;
        text-align: left;
        position: relative;
        left: 310px;
        top: 90px;






    }

    .ThirdPage__middle::before {
        content: 'допомогти';
        color: white;
        font-size: 36px;
        font-family: 'Comfortaa';
        left: 0;

    }

    .ThirdPageText {
        width: 486px;
        display: flex;
        justify-content: space-between;
    }

    .ThirdPage__p::before {
        visibility: visible;
        content: 'нашому притулку';
        color: white;
        font-size: 36px;
        position: relative;
        left: 180px;


    }

    .two {
        visibility: visible;
        position: relative;

        top: -500px;
        left: -20px;

    }











}


@media screen and (max-width: 720px) {
    .ThirdPage {
        width: 720px;
        height: 1100px;
        display: flex;
        justify-content: center;
        background-color: #428F81;




    }


    .ThirdPage svg {
        height: 400px;

        width: auto;

        position: relative;

        top: -600px;




    }

    .ThirdPage__TextContainer {
        position: relative;
        width: 720px;

        height: 123px;
        text-align: center;
        left: -70px;
        top: -630px;




    }

    .two {
        visibility: visible;
        height: 900px;
        display: flex;
        justify-content: center;

        position: relative;
        left: -25px;
        top: -850px;

        width: 720px;



    }

    .ThirdPage__p::before {
        position: relative;
        left: 75px;
    }

    .ThirdPage__middle::before {
        content: 'допомогти';
        color: white;
        font-size: 36px;
        font-family: 'Comfortaa';
        position: relative;
        left: 25px;

    }

    .ThirdPage__p::before {
        visibility: visible;
        content: 'нашому притулку';
        color: white;
        font-size: 36px;
        position: relative;
        left: 200px;

    }


}

@media screen and (max-width: 600px) {
    .ThirdPage {
        width: 600px;
        height: 1200px;
        display: flex;
        justify-content: center;
        background-color: #428F81;


    }

    .two {
        height: 900px;
        position: relative;
        left: -15px;
        top: -800px;


    }

    .ThirdPage__TextContainer {
        position: relative;
        left: -57px;
        top: -600px;

    }

    .ThirdPage svg {
        width: 650px;
        position: relative;
        top: -545px;


    }




}

@media screen and (max-width: 500px) {

    .ThirdPage {
        width: 486px;
        height: 1500px;
        display: flex;
        justify-content: center;


    }

    .ThirdPage svg {
        height: 700px;

        width: 486px;

        position: relative;
        top: -683px;
        left: 0;




    }

    .ThirdPage__CardContainer {
        visibility: hidden;
    }



    .two {
        visibility: visible;
        height: 1200px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        position: relative;
        left: -10px;
        top: -1150px;
        width: 486px;



    }

    .ThirdPage__TextContainer {
        position: relative;
        width: 486px;
        top: -900px;
        height: 123px;
        text-align: center;
        left: -40px;



    }

    .ThirdPage__text,
    .ThirdPage__p {
        visibility: hidden;
    }

    .ThirdSpan::before {
        content: 'Чим';
        visibility: visible;

        color: black;
        position: relative;
        text-align: right;


        font-size: 36px;
        font-weight: 500;
        left: -125px;
        top: 0;


    }

    .ThirdPage__text::before {
        visibility: visible;
        content: 'ви можете';
        font-size: 36px;

        position: relative;
        text-align: left;
        position: relative;
        left: 180px;
        top: 0;




    }

    .ThirdPage__middle::before {
        content: 'допомогти';
        color: white;
        font-size: 36px;
        font-family: 'Comfortaa';
        position: relative;
        top: -45px;

    }

    .ThirdPageText {
        width: 486px;
        display: flex;
        justify-content: space-between;
        position: relative;
        top: 50px;
    }

    .ThirdPage__p::before {
        visibility: visible;
        content: 'нашому притулку';
        color: white;
        font-size: 36px;
        position: relative;
        left: 60px;
        top: -40px
    }











}