.ThirdPage {
    width: 100%;
    height: 115vh;
    background-color: #428F81;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

}

.ThirdPage__TextContainer {
    width: 900px;
    height: 50px;
    position: relative;
    top: -90px;

}

.ThirdPage__text {
    font-size: 47px;
    color: white;
    text-align: center;
    font-family: 'Comfortaa';

}

.ThirdPage__p {
    text-align: center;
    font-size: 47px;
    color: white;
    font-family: 'Comfortaa';
}

span {
    color: black;
}

.ThirdPage__CardContainer {
    width: 830px;
    height: 338px;
    background-color: #428F81;
    position: relative;
    top: 70px;
    display: flex;
    justify-content: center;
    align-items: center;


    flex-wrap: wrap;
}

.Card {
    width: 276px;
    height: 160px;
    background-color: #428F81;
}

.Card__p {
    color: white;
    font-size: 24px;
    font-family: 'Comfortaa';
}

.CardTextContainer {
    position: relative;
    top: 12px;
}