* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.TeamPage * {
    max-width: 100%;
}

.TeamPage {
    min-height: min(100vh, 750px);
    padding: 50px 0;
    max-width: 100vw;
    overflow-x: hidden;
    display: flex;
    gap: 70px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.TeamPage-heading {
    width: 100vw;
    padding: 0 140px;
    display: flex;
    gap: 25px;
    align-items: center;
    justify-content: space-between;
}

.TeamPage-headline {
    font-family: 'Comfortaa';
    font-style: normal;
    font-weight: 600;
    font-size: calc(20px + 1.5vw);
    line-height: 120.5%;
    /* or 58px */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    color: #333333;
}

.TeamPage-healine-green {
    color: #4A9B8D;
}

.TeamPage-description {
    width: min(678px, 100%);
    text-align: left;
    font-family: 'Comfortaa';
    font-style: normal;
    font-weight: 300;
    font-size: calc(15px + .5vw);
    line-height: 27px;
    color: #333333;
}

.TeamPage-description-bold {
    font-weight: 500;
}

.TeamPage-cards {
    max-width: 100vw;
    display: flex;
    gap: 70px;
}

@media screen and (max-width: 800px) {
    .TeamPage-heading {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .TeamPage-description {
        text-align: center;
        font-size: calc(14px + 0.25vw);
    }
    .TeamPage-headline {
        text-align: center;
        flex-direction: row;
        gap: 10px;
        flex-wrap: wrap;
    }
}

@media screen and (max-width: 500px) {
    .TeamPage {
        gap: 50px;
    }
    .TeamPage-heading {
        padding: 25px;
    }
}