* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* SecondPage */

.SecondPage {
    width: 100%;
    height: 115vh;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 5;
}






/* SecondPageConatiner */

.SecondPageContainer {
    width: 1280px;
    height: 390px;
    background-color: white;
    position: relative;
    top: -70px;
    display: flex;
    justify-content: space-around;
}

.SecondPageTextContainer {
    width: 540px;
    height: 390px;

}

.SecondPageTextConatiner__p {
    font-size: 46px;
    font-weight: 400;
    text-align: left;

    font-family: 'Comfortaa';



}

.green {

    color: #4A9B8D;
}

.greenSpan {
    color: #4A9B8D;

}

.SeconPageContainer__p__container {
    width: 540px;
    height: 270px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;

    color: #333333;
    text-align: left;

    font-family: 'Comfortaa';
    position: relative;
    top: 20px;

}

p {
    font-size: 24px;

}


.ImageBigger {
    /* display: none; */
    position: relative;
    /* top: 1500px; */
    /* display: none; */

    width: 1200px;
    height: 690px;
    top: -60px;
    border-radius: 10px;
    z-index: 2;
    transition: 1s;
}


@media screen and (max-width: 800px) {
    .SecondPage {
        width: 800px;
        height: 1050px;

        display: flex;
        justify-content: center;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .SecondImage {
        border-radius: 0;
    }

    .SecondPageContainer {
        width: 800px;
        height: 90px;
        display: flex;
        flex-direction: column;
        top: 10px;




    }

    .SecondImage {
        width: 500px;
        height: 300px;
    }




    .SecondPageText {
        position: relative;
        left: 140px;
        top: -470px;

    }


    .SecondPageTextConatiner__p {
        visibility: hidden;

    }

    .SecondPageTextConatiner__p::before {
        content: '  такі';
        font-size: 46px;
        font-weight: 400;


        font-family: 'Comfortaa';


        visibility: visible;
        color: black;
        position: relative;
        left: 130px;





    }

    .contentAdaptive::before {
        content: '“Green Shelter”';
        visibility: visible;
        position: relative;
        left: -50px;





    }

    .greenSpan {
        visibility: hidden;
    }

    .greenSpan::before {
        visibility: visible;
        content: 'Хто';
        color: #4A9B8D;
        position: relative;
        left: -110px;
    }



    .content {
        visibility: hidden;
    }

    .content::before {
        content: '«Зелений притулок» або, як більш звично, Green house dog’s shelter це місце для евакуації собак з зони бойових дій. Ціль нашого притулку прийняти евакуйованих собак, покинутих власниками чи зі знищених притулків, і допомогти з перетином кордону та пошуком кращого житла.';
        font-size: 24px;
        visibility: visible;
    }

    /* .SeconPageContainer__p__container {
        height: 70px;
        top: 120px
    } */
    .SeconPageContainer__p__container {
        width: 326px;
        height: 70px;
        position: relative;
        left: 17%;
        top: 170px;
    }






}