* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* SecondPage */

.SecondPage {
    width: 100%;
    height: 115vh;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 5;
}






/* SecondPageConatiner */

.SecondPageContainer {
    width: 1280px;
    height: 390px;
    background-color: white;
    position: relative;
    top: -30px;
    display: flex;
    justify-content: space-around;
}

.SecondPageTextContainer {
    width: 540px;
    height: 390px;


}

.SecondPageTextConatiner__p {
    font-size: 46px;
    font-weight: 400;
    text-align: left;

    font-family: 'Comfortaa';



}

.green {

    color: #4A9B8D;
}

.greenSpan {
    color: #4A9B8D;

}

.SeconPageContainer__p__container {
    width: 540px;
    height: 270px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;

    color: #333333;
    text-align: left;

    font-family: 'Comfortaa';
    position: relative;
    top: 20px;

}

p {
    font-size: 24px;

}


.ImageBigger {
    /* display: none; */
    position: relative;
    /* top: 1500px; */
    /* display: none; */

    width: 1200px;
    height: 690px;
    top: -60px;
    border-radius: 10px;
    z-index: 2;
    transition: 1s;
}

.SecondPage__BlurAdaptive {
    position: relative;


    width: 500px;
    height: 119px;

    background: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(17px);



    /* Note: backdrop-filter has minimal browser support */




    border-radius: 40px 40px 0px 0px;

}

.content {
    z-index: 2000;
}



@media screen and (max-width: 800px) {
    body {
        overflow-x: hidden;
    }

    .SecondPage {
        width: 800px;
        height: 980px;

    }

    .SecondPageContainer {
        width: 800px;
        height: 90px;
        display: flex;
        flex-direction: column;
        top: 40px;




    }

    .SecondImage {
        width: 800px;
        height: 300px;
        border-radius: 10px 10px 0px 0px;
        position: relative;
        top: 90px;

    }




    .SecondPageText {
        position: relative;
        left: 280px;
        top: -430px;

    }


    .SecondPageTextConatiner__p {
        visibility: hidden;

    }

    .SecondPageTextConatiner__p::before {
        content: '  такі';
        font-size: 46px;
        font-weight: 400;


        font-family: 'Comfortaa';


        visibility: visible;
        color: black;
        position: relative;
        left: 120px;
        top: 51px;



        display: flex;
        align-items: center;






    }



    .contentAdaptive::before {
        content: '“Green Shelter”';
        visibility: visible;
        position: relative;
        left: -50px;
        top: 10px;





    }

    .greenSpan {
        visibility: hidden;
    }

    .greenSpan::before {
        visibility: visible;
        content: 'Хто';
        color: #4A9B8D;


    }



    .content {
        visibility: hidden;
        /* z-index: 2000; */
    }

    .content::before {
        content: '«Зелений притулок» або, як більш звично, Green house dog’s shelter це місце для евакуації собак з зони бойових дій. Ціль нашого притулку прийняти евакуйованих собак, покинутих власниками чи зі знищених притулків, і допомогти з перетином кордону та пошуком кращого житла.';
        font-size: 29px;
        visibility: visible;
        z-index: 2000;
    }

    /* .SeconPageContainer__p__container {
        height: 70px;
        top: 120px
    } */
    .SeconPageContainer__p__container {
        width: 541px;
        height: 150px;
        position: relative;
        left: 22%;
        top: 50px;
        text-align: center;
        font-size: 24px;
        /* padding: 2px; */

    }


    .SecondPage__BlurAdaptive {

        position: relative;
        top: -50px;
        width: 790px;
        left: -10px;

        height: 140px;
        border-radius: 40px 40px 0px 0px;



    }

}




@media screen and (max-width: 500px) {
    body {
        overflow-x: hidden;
    }

    .SecondPage {
        width: 486px;
        height: 980px;

        display: flex;
        justify-content: center;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }



    .SecondPageContainer {
        width: 486px;
        height: 90px;
        display: flex;
        flex-direction: column;
        top: 40px;




    }

    .SecondImage {
        width: 486px;
        height: 300px;
        border-radius: 10px 10px 0px 0px;
        position: relative;
        top: 90px;

    }




    .SecondPageText {
        position: relative;
        left: 120px;
        top: -430px;

    }


    .SecondPageTextConatiner__p {
        visibility: hidden;

    }

    .SecondPageTextConatiner__p::before {
        content: '  такі';
        font-size: 46px;
        font-weight: 400;


        font-family: 'Comfortaa';


        visibility: visible;
        color: black;
        position: relative;
        left: 120px;
        top: 51px;



        display: flex;
        align-items: center;






    }



    .contentAdaptive::before {
        content: '“Green Shelter”';
        visibility: visible;
        position: relative;
        left: -50px;
        top: 10px;





    }

    .greenSpan {
        visibility: hidden;
    }

    .greenSpan::before {
        visibility: visible;
        content: 'Хто';
        color: #4A9B8D;


    }



    .content {
        visibility: hidden;
        /* z-index: 2000; */
    }

    .content::before {
        content: '«Зелений притулок» або, як більш звично, Green house dog’s shelter це місце для евакуації собак з зони бойових дій. Ціль нашого притулку прийняти евакуйованих собак, покинутих власниками чи зі знищених притулків, і допомогти з перетином кордону та пошуком кращого житла.';
        font-size: 24px;
        visibility: visible;
        z-index: 2000;
    }

    /* .SeconPageContainer__p__container {
        height: 70px;
        top: 120px
    } */
    .SeconPageContainer__p__container {
        width: 331px;
        height: 120px;
        position: relative;
        left: 14%;
        top: 160px;
        text-align: center;
        font-size: 24px;
        /* padding: 2px; */

    }


    .SecondPage__BlurAdaptive {

        position: relative;
        top: -50px;

        width: 500px;
        left: -2px;
        height: 140px;

        border-radius: 40px 40px 0px 0px;



    }







}