@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;600;700&display=swap');
.videoPage{
    width: 100%;
    min-height: 1000px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 150px 140px;
    font-family: 'Comfortaa', cursive;
}
.videoPage__left{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding-right: 10%;
    text-align: start;
  
}
.videoPage__right{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}
.videoPage__left__text1{
    font-weight: 600;
    font-size: 48px;
    line-height: 54px;
}

.videoPage__left__text1__green{
    color: #4A9B8D;
}
.videoPage__left__text2{
    font-weight: 300;
font-size: 24px;
line-height: 27px;
padding-top: 25px;
padding-bottom: 60px;
}
.videoPage__left__button{
    display: flex;
    align-items: center;
    font-weight: 700;
font-size: 24px;
line-height: 27px;
}
.videoPage__left__button__play{
    width: 85px;
    height: 85px;
    margin-right: 25px;
}
.videoPage__right__video{
    border-radius: 10px;
    margin: 20px;
}
.videoPage__left__button2{
    display: none;
}
.videoPage__left__button1{
display: flex;
}
/* .videoPage__left__text1::first-letter {
    font-size: 200%;
    color: #8A2BE2;
  } */
  @media screen and (max-width:1200px){
    .videoPage{
       flex-direction: column;
       padding: 150px 0;
       
   
    }
    .videoPage__left{
        width: 100%;
        height: 50%;
        align-items: center;
        text-align: center;
    }
    .videoPage__right{
        width: 100%;
        height: 50%;
        align-items: center;
    }
    .videoPage__left__button2{
        display: flex;
    }
    .videoPage__left__button1{
        display: none;
    }
  }
  @media screen and (max-width:800px){
    .videoPage__right__video{
        width: 365px;
        height: 200px;
    }
  
  }
